{% extends "SiteBundle::layout.html.twig" %}

{% block title %}
   Admin Section - {{ parent() }}
{% endblock %}

{% block body %}
<section id="index" style="min-height:60vh;">
    <div class="row" style="margin-top:20px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row well">
          <h1>List with all the subscribers</h1>
            <!-- table with all the subscribers -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>E-Mail</th>
                </tr>
              </thead>
              <tbody>
                {% for subscriber in listSub %}
                <tr>
                  <td>{{ subscriber.name }}</td>
                  <td>{{ subscriber.mail }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            
        </div>
      </div>
    </div>
</section>
{% endblock %}