{% extends "SiteBundle::layout.html.twig" %}

{% block title %}
   Admin Section - {{ parent() }}
{% endblock %}

{% block body %}
<section id="index" style="min-height:60vh;">
    <div class="row" style="margin-top:20px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <!--Give the admin the choice to go to the subscribers list, news list or sales lilst -->
            <a href="{{ path('admin_subscribers')}}"> To the subscribers list</a>
            <a href="{{ path('admin_articles')}}"> To the articles list</a>
            <a href="{{ path('admin_sales')}}"> To the sales list</a>
        </div>
      </div>
    </div>
</section>
{% endblock %}