{% extends "SiteBundle::layout.html.twig" %}

{% block title %}
   Excuse me while I kiss my stout- {{ parent() }}
{% endblock %}

{% block body %}
<section id="index" style="min-height:60vh;">
    <div class="row" style="margin-top:20px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <!-- begin of the page -->
          	<div class="jumbotron">
			  <div class="container">
				<h1>Excuse me while I kiss my stout</h1>
					<div class="row">
						<div class="container col-md-4">
							<img src="img/excusemewhile/2.png" class="img-responsive img-rounded left-block">
						</div>
						<div class="container col-md-8" >
						</br>
						</br>
						</br>
						</br>
						</br>
							<p class="text-left">
							Niet gepasteuriseerde, ongefilterde haverstout met een rokerig karakter. Door het gebruik van haver heeft
							het bier een fluwelen mondgevoel die de bitterheid mooi uitbalanceert. Het aroma bevat rook, koffie en
							chocolade door het gebruik van de verschillende mouten en een kruidige toets door de gebruikte hoppen.
							</p>
						</div>
					</div>
					</br>
					</br>
					<img src="img/excusemewhile/1.jpg" class="img-responsive img-rounded left-block">
			  </div>
			</div>
       



        </div>
      </div>
    </div>
</section>
{% endblock %}