{% extends "SiteBundle::layout.html.twig" %}

{% block title %}
   About - {{ parent() }}
{% endblock %}

{% block body %}
<section id="index" style="min-height:60vh;">
    <div class="row" style="margin-top:20px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
        	<!-- begin of the about page -->

        	<div class="jumbotron">
			  <div class="container" style="padding-top: 40px;">
					<div class="row">
						<div class="container col-md-7">
							<img src="/img/about1.jpg" class="img-responsive img-rounded center-block">
						</div>
						<div class="container col-md-5" style="padding-top: 30px;">
							<p style="text-align: justify;text-justify: inter-word;" class="text-left">Hedonis Ambachtsbier werd opgericht door <b>Janos de Baets</b> en <b>Leopold De Ketelaere</b> die elkaar leerden kennen op de ‘Proef’brouwerij in Lochristi. In deze inspirerende omgeving kwamen er al snel gesprekken op gang over ‘home-brewing’ en besloten de twee om samen aan de slag te gaan. Hun eerste bier, een bijzonder geslaagde IPA, werd in augustus 2013 gebotteld. Gedreven door de positieve commentaren van vrienden, familie en kennissen, werd er geïnvesteerd in een grotere home-brew installatie met ketels van 100 liter. </p>
						</div>
					</div>
					</br>
					</br>
					<div class="row">
						<div class="container col-md-8">
							<p class="text-left" style="text-align: justify;text-justify: inter-word;">
							De volgende bieren bleken ook steeds een schot in de roos en omdat de vraag niet te volgen was op de ketels van 100 liter besloten Janos en Leopold om hun home-brewing project te commercialiseren. <b>Hedonis Ambachtsbier werd opgericht in 2015.</b></p>						
													<p style="text-align: justify;text-justify: inter-word;"><b>HEDONIS</b> verwijst naar Hedonisme, de filosofische leer waarbij het streven naar genot het hoogste goed is. <b>AMBACHTSBIER</b> verwijst naar de Engelse term ‘craft beer’, een explosieve stroming van experimentele en innovatieve bieren. De nieuwe bierstijlen, methoden en recepten die hieruit voortvloeien zijn in het buitenland al sterk aanwezig. Het doel van Hedonis Ambachtsbier is de consument intens te laten <b>genieten van innovatieve en experimentele bieren</b> gebrouwen met respect voor de Belgische biertraditie.</p>
							</br>
							<h3 style="text-align: center;"><i><b>“Hedonis Ambachtsbier heeft zin voor verandering maar respect voor traditie”</b></i></h3>
							</br>
							<p style="text-align: justify;text-justify: inter-word;">Om de kwaliteit van hun producten te garanderen wil Hedonis Ambachtsbier elke stap van het proces zelf in handen hebben: ontwikkeling van de recepten, aankoop van de ingrediënten, brouwen, bottelen en verkoop. Alles wordt door Janos en Leopold zelf uitgevoerd. Het brouwen gebeurt momenteel bij brouwerij Maenhout in Pittem.</p>
						</div>
						<div class="container col-md-4" style="padding-top: 60px;">
							<img src="/img/about2.jpg" class="img-responsive img-rounded center-block">
						</div>
					</div>
					
			  </div>
			</div>

        	



        </div>
      </div>
    </div>
</section>
{% endblock %}





































