{% extends "SiteBundle::layout.html.twig" %}

{% block title %}
   About - {{ parent() }}
{% endblock %}

{% block body %}
<section id="index" style="min-height:60vh;">
    <div class="row" style="margin-top:20px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
        	<!-- begin of the about page -->

        	<div class="jumbotron">
			  <div class="container" style="padding-top: 40px;">
					<div class="row">
						<div class="container col-md-7">
							<img src="/img/about1.jpg" class="img-responsive img-rounded center-block">
						</div>
						<div class="container col-md-5" style="padding-top: 30px;">
							<p style="text-align: justify;text-justify: inter-word;" class="text-left">
								Hedonis Ambachtsbier is een ‘gypsy brewery’ waarbij de bieren geproduceerd worden in de ketels van een externe brouwerij. Hierbij worden alle stappen echter zelf uitgevoerd. Van receptontwikkeling over brouwen tot verkopen. Dit stelt Hedonis Ambachtsbier in staat de kwaliteit van de producten voor 100% op te volgen en te garanderen.
							</br>
								Hedonis Ambachtsbier werd opgericht door <b>Janos de Baets</b> en <b>Leopold De Ketelaere</b> die elkaar leerden kennen door hun gedeelde passie voor speciaalbier. Beiden hadden de wens om aan ‘home-brewing’ te doen en ze besloten dit samen op te starten. Het eerste bier bottelden ze in augustus 2013.
							</p>
						</div>
					</div>
					</br>
					</br>
					<div class="row">
						<div class="container col-md-8">
							<p class="text-left" style="text-align: justify;text-justify: inter-word;">
							Gedreven door de positieve commentaren van vrienden, familie en kennissen, besloten ze hun bieren aan het grote publiek voor te stellen.
						</br>
							<b>Hedonis Ambachtsbier werd opgericht in 2015.</b></p>						
							<p style="text-align: justify;text-justify: inter-word;"><b>HEDONIS</b> verwijst naar Hedonisme, de filosofische leer waarbij het streven naar genot het hoogste goed is. <b>AMBACHTSBIER</b> verwijst naar de Engelse term ‘craft beer’, een explosieve stroming van experimentele en innovatieve bieren. De nieuwe bierstijlen, methoden en recepten die hieruit voortvloeien zijn in het buitenland al sterk aanwezig. Het doel van Hedonis Ambachtsbier is de consument intens te laten <b>genieten van innovatieve en experimentele bieren</b> gebrouwen met respect voor de Belgische biertraditie.</p>
							</br>
							<h3 style="text-align: center;"><i><b>“Hedonis Ambachtsbier heeft zin voor verandering maar respect voor traditie”</b></i></h3>
							</br>
							<p style="text-align: justify;text-justify: inter-word;">Hedonis Ambachtsbier behandelt z’n grondstoffen en eindproducten met de grootste respect, zo ook de consument. Daarom wordt op alle etiketten de brouwlocatie vermeld, net als de brouwtechnische gegevens.</p>
						</div>
						<div class="container col-md-4" style="padding-top: 60px;">
							<img src="/img/about2.jpg" class="img-responsive img-rounded center-block">
						</div>
					</div>
					
			  </div>
			</div>

        	



        </div>
      </div>
    </div>
</section>
{% endblock %}
